<div id="post_content">
	<h1 class="title">
		<%= @publication.title %>
	</h1>

	<p class="date">
		Создано <%= time_ago_in_words(@publication.created_at) %> назад
	</p>

	<p class="body">
		<%= @publication.body %>
	</p>
</div>